* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Ipad ngang(1024 x 768)*/
.homeproduct .list .pd-5 {
	display: none;
}
.rowfoot1-rp {
	width: 100%;
	display: none;
}
.rowfoot1-rp .colfoot-rp a{
	display: block;
	line-height: 2;
	font-weight: 600;
}

.user-icon-container, .icon-search-container{
	height: 100%;
	display: none;
	margin: 0 10px;
}
.icon-user, .icon-search {
	font-size: 25px;
	color: #24DC83;
	
}
/*---------------USER_MENU--------------*/

.user-menu-responsive {
    width: 0px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 10;
}
.user-menu-responsive.clicked {
    width: 300px;
    transition: all 0.5s;
}
.clickX {
	padding: 6px 0px 5px 0px;
	margin-left: 260px;
	font-size: 25px;
}
.user-menu-responsive .top-menu {
	width: 300px;
	background-color: #eee;
	border-left: none;
	border-right: none;
	display: flex;
	align-items: center;
}
.top-menu .user-icon {
    font-size: 30px;
    padding: 10px 40px;
    border-right: 2px solid #fff;
}
.top-menu span {
    padding-left: 40px;
    font-weight: 600;
}
.user-menu-responsive .bottom-menu {
	margin-top: 10px;
    width: 300px;
}
.bottom-menu ul {
    width: 280px;
    margin: auto;
}
.bottom-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/*---------SEARCH-RP-----------*/
.search-responsive {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	padding: 5px;
	background-color: #ccc;
	display: none;
}
.search-responsive.search-responsive-show  {
	display: block;
}
.search-responsive input {
	width: 85%;
	outline: none;
	border: 1px solid #24dc83;
	padding: 0 10px;
}
.search-responsive button {
	width: 13%;
	outline: none;
	border: none;
	font-weight: 600;
	background: #24DC83;
	color: #fff;
}
.slideShow-responsive-mobile {
	display: none;
}
@media screen and (max-width: 1023px){
	 /*body {
        background-color: pink;
    }*/
/*-----HEADER-------------*/
	
/*-----HEADER----END-------*/
/*-----MENU----------------*/
	#containt .menu a{
		font-size: 14px;
	}
/*-----MENU------END-------*/
/*-----FIRST-CONTAINT------*/
	#first-containt {
		height: 300px;
	}
	#mySlidesShow .item img {
	  	min-height: 250px;
	}
	.first-containt-left-bottom .panel-left-bottom .list-item a  {
		  padding: 0 5px;
		  font-size: 11px;
	}
	.first-containt-right-top .news .news-first {
		height: 60px;
	}
	.banner-news .tin-cn {
	    padding: 3px 20px 0px 5px;
	    line-height: 15px;
	    font-size: 12px;
	}
	.banner-news .tin-cn:after {
	    border-right: 13px solid #fff;
	    border-top: 17px solid transparent;
	    border-bottom: 17px solid transparent;
	}

	.ping {
		width: 10px;
		height: 8px;
		margin: 14px 5px 0px 15px;

	}
/*-----FIRST-CONTAINT---END---*/
/*---------SECON-CONTAINT---------*/
	#second-containt .show-sp {
		margin-top: -20px;
	}
	#second-containt .panel-text  {
		height: 35px;
		line-height: 35px;
		font-size: 17px;
	}
	#second-containt .panel-text:after {
		left: -17px;
	    border-right: 15px solid #24DC83;
	    border-top: 18px solid transparent;
	    border-bottom: 18px solid transparent;   
	}
	#second-containt .panel-text:before {
		right: -17px;
	    border-left: 15px solid #24DC83;
	    border-top: 18px solid transparent;
	    border-bottom: 18px solid transparent;   
	}
	/*------PRODUCT----------*/
	.img-container .img  img {
	    max-width: 160px;
	    padding: 0px ;
	}
	.product-label {
          top: 155px;
      }
/*---------PRODUCT------------END-----*/
/*------------PROMO---------*/
	.name-sp {
        font-size: 14px;
    }
    
/*---------PROMO--------------END------*/ 
/*---------SECOND-CONTAINT----END-----*/
/*---------THIRD-CONTAINT---------*/
	#third-containt .navigat span, .navigat span {
	    font-size: 14px;
	}
	#third-containt .navigat ul li, .navigat ul li {
		font-size: 13px;
	}
	
/*---------THIRD-CONTAINT----END-----*/
}

@media screen and (max-width: 950px){
	/*body {
		background-color: red;
	}*/
 /*-----HEADER-------------*/
/*-----HEADER----END-------*/
/*-----MENU----------------*/
/*-----MENU------END-------*/
/*-----FIRST-CONTAINT------*/
	#first-containt {
		display: none;
	}
	.slideShow-responsive-mobile .owl-carousel {
		position: relative;
		margin-top: 10px;
	}
	.slideShow-responsive-mobile {
		display: block;
		width: 100%;
	}
	.slideShow-responsive-mobile .owl-carousel .owl-dots{
		position: absolute;
		bottom: 0;
		left: 25%;
		width: 50%;
		z-index: 100;
		padding: 0 !important;
		margin: 0 !important;
	}
/*-----FIRST-CONTAINT---END---*/
/*---------SECON-CONTAINT---------*/
	#second-containt .owl-theme .owl-nav, #seven-containt .owl-theme .owl-nav {
	  	display: none;
	}
	#second-containt .show-sp, .item {
		height: auto;
	}
	.img-container .img img {
	    padding: 0px 15px;
	}
	#five-containt .img-container .img img {
	    padding: 0px 10px;
	}

/*---------SECOND-CONTAINT----END-----*/
/*---------THIRD-CONTAINT--FIVE-CONTAINT--SIX_CONTAINT---------*/
	#third-containt .navigat span, .navigat span {
	    font-size: 14px;
	}
	#third-containt .navigat ul li, .navigat ul li {
		font-size: 12px;
	}
	#third-containt .navigat ul li:nth-child(4), 
	#five-containt .navigat ul li:nth-child(4),
	#six-containt .navigat ul li:nth-child(4),
	#seven-containt .navigat ul li:nth-child(4) {
		display: none;
	}
	#third-containt .homeproduct .list .feature,
	#five-containt .homeproduct .list .feature,
	#six-containt .homeproduct .list .feature {
		width: 50%;
	}
	#third-containt .homeproduct .list .main-product,
	#five-containt .homeproduct .list .main-product,
	#six-containt .homeproduct .list .main-product {
		width: 25%;	
	}
	#third-containt .homeproduct .list .pd-5-rp,
	#third-containt .homeproduct .list .pd-10-rp {
		display: block;
	}
/*---------FIVE-SIX-CONTAINT-------*/
	#five-containt .homeproduct .list .pd-4,
	#six-containt .homeproduct .list .pd-4 {
		display: none;
	}
/*---------THIRD-CONTAINT----END-----*/
    /*------PRODUCT----------*/

	.product, .img-container, .product .promo  {
	  position: static !important;
	}
	.homeproduct ul li {
		height: auto;
	}
	.img-container {
	    height: auto;    
	}
	.img-container:hover {
	    margin-top: 15px;
	}
	.img-container .img {
	  	position: relative;
	}
	.img-container .img  img {
	    max-width: 200px;
	    padding: 0px 10px;
	}
	#five-containt .homeproduct .list .img-container .img {
	 	border: 1px solid transparent;
	}
	#five-containt .homeproduct .list .img-container .img  img {
	    margin-top: 0;
	    margin-bottom: 20px;
	}
/*------------DISCOUNT---------*/
    .product-label {
		display: none !important;
    }
    .img-label {
    	display: block !important;
    	position: absolute;
    	bottom: -10px;
    	left: 2px;
    	z-index: 20;
    }
/*---------DISCOUNT-----------END------*/  
/*---------PRODUCT------------END-----*/
}
    
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 767px){
    /*-----HEADER-------------*/
	/*body {
		background-color: yellow;
	}*/
	#containt {
		padding-top: 60px;
	}
    #contact-header-container {
    	display: none;
    }
    #header-container {
    	top: 0 !important;
    	transition: 0s !important;
    }
	.header .sidebar .left .logo img {
		width: 140px;
		height: 40px;
	}
	.header .sidebar .center .search {
		height: 35px;
		border-radius: 10px;
	}
	.header .sidebar .right .account .login, 
	.header .sidebar .right .account .register,
	.header .sidebar .basket .my-basket {
		width: 70px;
		height: 35px;
		line-height: 35px;
		font-size: 11px;
		border-radius: 6px;
	}
	.header .sidebar .right .account .login:hover,
	.header .sidebar .right .account .register:hover,
	.header .sidebar .basket .my-basket:hover {
		font-size: 12px;
	}
	.header .sidebar .right .account .register {
		width: 55px;
	}
	.header .sidebar .basket .my-basket {
		width: 35px;
		margin-right: 20px;
	}
	.header .sidebar .basket .my-basket span{
		display: none;
	}
/*-----HEADER----END-------*/
/*-----MENU----------------*/
	#containt .menu {
		display: none;
	}
/*-----MENU------END-------*/
/*-----FIRST-CONTAINT------*/
/*-----FIRST-CONTAINT---END---*/
/*---------SECON-CONTAINT---------*/
	#containt #second-containt, #third-containt, 
	#five-containt, #six-containt, #seven-containt, #container #footer {
	    margin-top: 5px;
	}
	#second-containt .show-sp {
		margin-top: -16px;
	}
	#second-containt .panel-text {
		height: 30px;
		line-height: 30px;
}
	#second-containt .panel-text:after {
	    border-right: 15px solid #24DC83;
	    border-top: 15px solid transparent;
	    border-bottom: 15px solid transparent;   
	}
	#second-containt .panel-text:before {
	    border-left: 15px solid #24DC83;
	    border-top: 15px solid transparent;
	    border-bottom: 15px solid transparent;
	}
/*---------SECOND-CONTAINT----END-----*/
/*---------THIRD-CONTAINT--FIVE-CONTAINT--SIX_CONTAINT---------*/
	
	#third-containt .navigat, .navigat{
		height: 35px !important;
	}
	#third-containt .navigat span, .navigat span {
		padding: 0 10px;
	    font-size: 13px;
	}
	#third-containt .navigat ul li, .navigat ul li {
		font-size: 11px;
	}
	#third-containt .navigat ul li:nth-child(3), 
	#five-containt .navigat ul li:nth-child(3),
	#six-containt .navigat ul li:nth-child(3),
	#seven-containt .navigat ul li:nth-child(3) {
		display: none;
	}
	#third-containt .homeproduct .list .feature,
	#five-containt .homeproduct .list .feature,
	#six-containt .homeproduct .list .feature {
		width: 66.67%;
	}
	#third-containt .homeproduct .list .main-product,
	#five-containt .homeproduct .list .main-product,
	#six-containt .homeproduct .list .main-product {
		width: 33.33%;	
	}

/*---------FIVE-SIX-CONTAINT-------*/
	#five-containt .homeproduct .list .pd-4,
	#five-containt .homeproduct .list .pd-5,
	#six-containt .homeproduct .list .pd-4,
	#six-containt .homeproduct .list .pd-5 {
		display: block;
	}
/*---------THIRD-CONTAINT----END-----*/
/*----------FOOTER--------*/ 
	#container #footer .rowfoot1 .colfoot {
		display: none;
	}
	.rowfoot1-rp {
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
/*-------FOOTER---END------*/ 


@media screen and (max-width: 600px){
    /*-----HEADER-------------*/
	/*body {
		background-color: green;
	}*/
	.center {
		display: none;
	}
/*-----FIRST-CONTAINT------*/
/*-----FIRST-CONTAINT---END---*/
/*---------SECON-CONTAINT---------*/
	.img-container .img {
	    padding: 0px 5px;
	}
/*---------SECOND-CONTAINT----END-----*/
/*---------THIRD-CONTAINT--FIVE-CONTAINT--SIX_CONTAINT---------*/
	#third-containt .navigat ul li, 
	#five-containt .navigat ul li,
	#six-containt .navigat ul li,
	#seven-containt .navigat ul li {
		display: none;
	}
	.navigat ul li:last-child {
		display: inline-block !important;
	}
	#third-containt .homeproduct .list .feature,
	#five-containt .homeproduct .list .feature,
	#six-containt .homeproduct .list .feature {
		width: 100%;
	}
	#third-containt .homeproduct .list .main-product,
	#five-containt .homeproduct .list .main-product,
	#six-containt .homeproduct .list .main-product {
		width: 50%;	
	}
	#third-containt .homeproduct .list .pd-4,
	#third-containt .homeproduct .list .pd-5 {
		display: block;
	}
	#third-containt .homeproduct .list .f-pd-5 {
		display: none;
	}
/*---------FIVE-SIX-CONTAINT-------*/
	#five-containt .homeproduct .list .pd-4,
	#five-containt .homeproduct .list .pd-5,
	#six-containt .homeproduct .list .pd-4,
	#six-containt .homeproduct .list .pd-5 {
		display: block;
	}
	.icon-search-container {
		position: absolute;
		right: 200px;
		display: flex;
		align-items: center;
	}
	.header .sidebar .basket {
		position: absolute; 
		right: 140px;
	}

/*---------THIRD-CONTAINT----END-----*/
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 479px){
	/*body {
		background-color: #999;
	}*/
	#containt {
	    padding-top: 40px;
	}
/*-----HEADER----------*/
	.icon-search-container {
		position: static;
	}
	#header-container .header {
		height: 50px;
	}
	.sidebar .left  {
		margin: 0 auto;
	}
 
	.right, .basket {
		display: none;
	}
	
/*-----HEADER----END-------*/
/*-----FIRST-CONTAINT------*/

/*-----FIRST-CONTAINT---END---*/
/*-----SECON-CONTAINT---------*/
	
/*-----PRODUCT----------*/
/*-----DISCOUNT---------*/
	.product label,  .feature-label {
          font-size: 9px;
          height: 18px;
          line-height: 17px;
    }
    .discount::before {
          width: 18px;
          height: 18px;
          position: relative;
          top: -1px;
    } 
/*---------DISCOUNT-----------END------*/  
/*---------PRODUCT------------END-----*/
/*------------PROMO---------*/
	.name-sp {
        font-size: 13px;
    }
    .price {
        padding: 0 0 2px 0; 
     }
    .price strong {
       font-size: 11px;
    }
    .price span {
        font-size: 10px;
     }
    .endow {
        font-size: 9px;
    }
    /*---------------USER-------------*/
    .user-menu-responsive {
		display: block;
	}
	.user-icon-container {
		display: flex;
		align-items: center;
	}
	    
/*---------PROMO--------------END------*/ 
/*---------SECOND-CONTAINT----END-----*/
/*---------SECOND-CONTAINT----END-----*/
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}